body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: #0c122c;
  background-image: url("../images/bg-mobile.png");
  background-repeat: no-repeat;
}
html {
  font-family: 'Raleway', sans-serif;
  font-size: 62.5%;
}
.container {
  width: 90%;
  margin: 0 auto;
}
