//======Gradientes=======//
gradient-from = #FFA399
gradient-to = #FF4D97

//======Colors=======//
color-font = #DDDBFF
font-grey = #848794
second-color-background = #1D2C67
main-color-background = #0C122C

//======Font=======//
font = 'Raleway', sans-serif