@import "_var_and_mixins"

body 
  margin: 0
  padding: 0
  box-sizing: border-box
  background-color: main-color-background
  background-image: url("../images/bg-mobile.png")
  background-repeat: no-repeat;
html 
  font-family: font 
  font-size: 62.5%
.container
  width: 90%
  margin: 0 auto